* { box-sizing: border-box; }

body {
    min-height: 100vh;
    background: linear-gradient(45deg, blue, violet);
}

#wrapper {
    margin: 0 auto;
    border-radius: 20px;
	overflow: hidden;
}

table { border-collapse: collapse; }

td, th {
    padding: 3px 30px;
    height: 20px;
    text-align: center;
}

table td, table th {
	&:first-child { width: 200px; }
	&:nth-child(2) { width: 125px; }
	&:nth-child(3) { width: 260px; }
	&:nth-child(4) { width: 100px; }
	&:nth-child(5) { width: 90px; }
	&:nth-child(6) { width: 100px; }
}

tr { background-color: white; }

tr:nth-child(even), .sum-even {
	background-color: #f2f2f2;
}

tr:hover, #sum tr:hover {
	background-color: #FF9999;
}

th, div > button {
    background-color: #291129;
    color: white;
}

td {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#sum {
	display: inline-table;
	float: right;
}
#sum td { width: 100px; }

#bill {
	font-family: monospace;
	font-size: large;
}

form { color: white; }

form > *:not(script, label *, [type="hidden"]) {
	display: block;
	margin: 5px;
	margin-bottom: 9px;
}

input:not([type="button"], [type="submit"],
  [type="hidden"]), select, textarea {
	position: absolute;
	left: 200px;
	width: 200px;
}

div:has(> [type="button"]) {
	position: absolute;
	z-index: 1;
}

#thx { display: none; }
#thx.visible { display: block; }
